.profile-customization {
    text-align: center;
    margin-top: 20px;
}

h1, h2 {
    color: #333;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: #f4f4f4; /* Fallback background */
    border: 5px solid #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.color-picker {
    margin: 10px auto;
    display: block;
    cursor: pointer;
}

.file-upload {
    margin-top: 20px;
}

.file-upload input[type="file"] {
    margin: 10px 0;
}
